{% extends 'base.html' %}

{% block title %} Заявка отправлена {% endblock %}

{% block content %}
<h3>Заявка {{ success }}.</h3>
{% if success == 'отправлена' %}
<h4>Вы получите консультацию на адрес {{ email }}.</h4>
<p>{% for col, val in res.items() %}
    {{ col }}: {{ val }}<br>
{% endfor %}</p><br>
<h4>Если вам нужно получить консультацию по еще одной работе,<br>
    <a href="/apply">подайте еще одну заявку</a>.</h4><br>
{% else %}
<h4><a href="/apply">Попробуйте еще раз</a> позже
или сообщите нам об ошибке: <a href="mailto:consult@oodi.ru">consult@oodi.ru</ahref></h4>
{% endif %}
<h3><a href="/">Вернуться на главную.<a></h3>
{% endblock %}