{% extends 'base.html' %}

{% block title %} Консультирование работ {% endblock %}

{% block content %}
  <h2 class="margin">Консультирование исследовательских работ школьников</h2>
  <p>Вы можете получить консультацию по исследовательской работе на любом этапе ее выполнения, в том числе получить рекомендации по подготовке к участию в конкурсах.</p>
  <hr>
  <div>
    <a href = "/apply"><button type = "button"><h4>Согласиться на обработку персональных данных и подать заявку</h4></button></a>
  </div>
{% endblock %}